################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/JPC.AmountConverter/FileContentIndex/a0fbf223-b39c-410e-bd07-194f1d0f07c6.vsidx
/.vs/JPC.AmountConverter/FileContentIndex/d052b544-d4a5-4baa-804e-6233768a6762.vsidx
