################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/JPC.AmountConverter.Application/bin
/JPC.AmountConverter.Application/obj
/JPC.AmountConverter.Application.Shared/bin
/JPC.AmountConverter.Application.Shared/obj
/jpc.amountconverter.client/obj
/JPC.AmountConverter.Server/bin
/.vs/JPC.AmountConverter/DesignTimeBuild/.dtbcache.v2
/.vs/JPC.AmountConverter/v17/.futdcache.v2
/.vs/JPC.AmountConverter/v17/.suo
/.vs/JPC.AmountConverter/v17/DocumentLayout.json
/.vs/ProjectEvaluation/jpc.amountconverter.metadata.v7.bin
/.vs/ProjectEvaluation/jpc.amountconverter.projects.v7.bin
/JPC.AmountConverter.Server/obj/Debug/net8.0/apphost.exe
/JPC.AmountConverter.Server/obj/Debug/net8.0/JPC.AmountConverter.Server.AssemblyInfo.cs
/JPC.AmountConverter.Server/obj/Debug/net8.0/JPC.AmountConverter.Server.AssemblyInfoInputs.cache
/JPC.AmountConverter.Server/obj/Debug/net8.0/JPC.AmountConverter.Server.assets.cache
/JPC.AmountConverter.Server/obj/Debug/net8.0/JPC.AmountConverter.Server.csproj.AssemblyReference.cache
*.BuildWithSkipAnalyzers
*.txt
/JPC.AmountConverter.Server/obj/Debug/net8.0/JPC.AmountConverter.Server.GeneratedMSBuildEditorConfig.editorconfig
/JPC.AmountConverter.Server/obj/Debug/net8.0/spa.proxy.json
/JPC.AmountConverter.Server/obj/JPC.AmountConverter.Server.csproj.nuget.dgspec.json
/JPC.AmountConverter.Server/obj/project.assets.json
/JPC.AmountConverter.Server/obj/project.nuget.cache
/JPC.AmountConverter.Server/obj/Debug/net8.0/ref
/JPC.AmountConverter.Server/obj/Debug/net8.0/refint
/JPC.AmountConverter.Server/obj/Debug/net8.0/staticwebassets
/JPC.AmountConverter.Server/obj/Debug/net8.0
