
<!---------------------------------- Back-end  ---------------------------------->
<!-- Remove the header and changed it into my name -->
<!-- Removed weather forecast -->
<!-- Added startup.cs configuration file for adding services -->
<!-- Added RestSharp package for REST Api request -->
<!-- Added Newtonsoft.Json package for data mapping -->
<!-- Used RapidApi (this is a free version) to get the amount in words to demonstrate dependency injection, service layer and clean architecture -->
<!---------------------------------- Back-end  ---------------------------------->

<!---------------------------------- Front-end  ---------------------------------->
<!-- API URL: http://localhost:5011/swagger/index.html -->
<!-- Added Nswag for typescript model generation using OpenAPI -->
<!-- Added Angular Material version 17.3.3 -->
<!-- Added Amount Converter and Amount Input Component -->
<!---------------------------------- Front-end  ---------------------------------->
<router-outlet></router-outlet>